/* tom-select */

.ts-control {
    border: 0px !important;
    padding: 3px !important;
}

.ts-control .item {
    padding-left: 10px !important;
    padding-right: 26px !important;
    padding-top: 7px !important;
    padding-bottom: 4px !important;
}
.ts-dropdown-content {
    width: fit-content !important;
}

.ts-control,
.ts-control input,
.ts-dropdown {
    width: fit-content !important;
    border-radius: 0px 0px 10px 10px !important;
}

.ts-control:not(.rtl) {
    /* padding-right: max(var(--ts-pr-min), var(--ts-pr-clear-button) + var(--ts-pr-caret)) !important; */
    padding-right: 0px !important;
}

.ts-control,
.ts-control input,
.ts-dropdown {
    font-size: 15px !important;
}

.plugin-clear_button.focus.has-items .clear-button,
.plugin-clear_button:not(.disabled):hover.has-items .clear-button {
    opacity: 1;
    padding-bottom: 21px !important;
}

.table-responsive .badge svg {
    margin: auto !important;
    margin-top: 6px !important;
}

.menu-vertical .app-brand {
    padding-left: 21.4px !important;
    padding-top: 10px !important;
}

.border-0 {
    border: 0px !important;
}

.demo-inline-spacing > * {
    margin: 0px !important;
}

.table-p-2 td {
    padding: 2px !important;
}

.transaction-documents ul li {
    border: 0px !important;
    padding-bottom: 0px !important;
}

.transaction-documents tr td {
    padding-left: 5px;
    padding-right: 5px;
}

.bottom-fixed {
    position: fixed;
    bottom: 1rem;
    right: 1.625rem;
    z-index: 999999;
    /* box-shadow: 0 1px 20px 1px #ff3e1d; */
}

.min-vh-70 {
    min-height: 70vh !important;
}
